@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
        body{
            background-image: url(file:///C:/Users/new/Downloads/Speedhandsgaming.png);
        }
        .can{
        background: rgba(255, 192, 203, 0.664);
        width: 500px;
        height: 440px;
        padding: 15px;
        margin: auto;
        margin-top: 270px;
        font-size: 30px;
        font-family: 'Poppins';
        color: blueviolet;
        border-radius: 20px;
        }

        input[type=text], input[type=password], input[type=email]{
            width: 100%;
            padding: 12px 20px;
            box-sizing: border-box;
            margin: 8px 0;
            font-family: 'Akaya Kanadaka', cursive;
            font-size: 25px;
        }
             span{
                 font-size: 18px;
             }
        input[type=submit]{
            background: green;
            color: whitesmoke;
            border: none;
            padding: 15px;
            font-family: 'Akaya Kanadaka', cursive;
            font-size: 2em;
            margin: 8px 0;
            text-align: center;
            width: 100%;
            font-size: 30px;}
